PORT=3000

MONGODB_URI=your_mongo_db

JWT_ACCESS_TOKEN_SECRET="your access key"
JWT_REFRESH_TOKEN_SECRET="your refresh key"
JWT_ACCESS_TOKEN_EXPIRED="your exp" 
JWT_REFRESH_TOKEN_EXPIRED="your exp" 

