PORT="<port_number>"
MONGODB_URL="<mongodb_connection_string>"

JWT_ACCESS_SECRET="<jwt_access_secret>"
JWT_ACCESS_EXPIRES_IN="<jwt_access_expires_in>"
JWT_REFRESH_SECRET="<jwt_refresh_secret>"
JWT_REFRESH_EXPIRES_IN="<jwt_refresh_expires_in>"

PAYOS_CLIENT_ID="<PAYOS_CLIENT_ID>"
PAYOS_API_KEY="<PAYOS_API_KEY>"
PAYOS_CHECKSUM_KEY="<PAYOS_CHECKSUM_KEY>"
PAYOS_RETURN_URL="https://chidung7271.id.vn/success"
PAYOS_CANCEL_URL="https://chidung7271.id.vn/cancel"

RESEND_API_KEY="<resend_api_key>"
RESEND_FROM_EMAIL=  "<from_email>"
APP_COURSE_URL="https://chidung7271.id.vn"