PORT=3000

MONGODB_URL=your_mongo_db

JWT_ACCESS_SECRET=<your-jwt-access-secret> Sử dụng trên cmd node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_EXPIRES_IN=<your-jwt-access-expiration-time> // Ví dụ: 1h, 24h, 7d
JWT_REFRESH_SECRET=<your-jwt-refresh-secret> // Sử dụng node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_REFRESH_EXPIRES_IN=<your-jwt-refresh-expiration-time> // Ví dụ: 30d, 60d, 90d (Chỉ để ngày)

